/** {
  border: 1px solid black;
  text-align: center
}*/

body {
  background-color: #dbcfa6;
  text-align: center;
  font-family: "Georgia", Times, serif;
}

button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  background-color: #dbcfa6;
  color: black;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

button:hover {
  font-weight: bold;
  background-color: #a8a6a1;
}
#contentbox {
  background-color: white;
  padding: 10px;
  border-radius:2px;
  /*font-size: 2em;*/
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

#quotebox {
  font-size: 2em;
}


#quotebox p:nth-child(2){
  text-align: right;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
}
